<div class="container mx-auto flex p-7" >
    <mat-card class="example-card" class="w-1/2" >
        <img mat-card-image class="max-h-50 rounded-lg" src={{product.url}} alt="">
        
       
    </mat-card>
      

    <mat-card class="example-card" class="w-1/2 ml-10" >
        <ul>
            <li> <mat-card-content>Id: {{product.id}}</mat-card-content></li>
            <li> 
            <mat-card-content>Name: {{product.name}}</mat-card-content>
            </li>
            <li>  <mat-card-content>Price: {{product.price}}</mat-card-content></li>
            <li><mat-card-content>Description: {{product.description}}</mat-card-content></li>
           
            
        </ul>
    </mat-card>
    
       
</div>
